html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: $BaiFont;
    font-size: 18px;
}

a, a:visited, a:hover {
    text-decoration: none;
}

.btn {
    border-radius: 2rem;
    cursor: pointer;
    width: 19.4375rem;
    height: 3.5rem;
    border: none;
    color: white;
    font-size: 1.125rem;
    letter-spacing: 0.5px;
    line-height: 30px;
    font-family: inherit;
}


